<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>List of RAMLs (default template)</h2>
    <ul>
      <li><a href="/raml/github.raml" target="_blank">Github</a> </li>
      <li><a href="/raml/example.raml" target="_blank">Example</a> </li>
      <li><a href="/raml/accounts_usa.raml" target="_blank">Accounts USA</a> </li>
    </ul>
    <h2>List of RAMLs (API Market template)</h2>
    <ul>
      <li><a href="/raml/api_market/accounts_usa.raml" target="_blank">Accounts USA</a> </li>
    </ul>
    <h2>List of RAMLs (json parsed objects)</h2>
    <ul>
      <li><a href="/raml/obj/github.raml" target="_blank">Github</a> </li>
      <li><a href="/raml/obj/example.raml" target="_blank">Example</a> </li>
      <li><a href="/raml/obj/accounts_usa.raml" target="_blank">Accounts USA</a> </li>
    </ul>
  </body>
</html>
