.api_market__tooltip,.api-documentation .nav__list__link__tooltip {
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    border: 1px solid #89d1f3;
    background: #b5e5f9;
    color: #006ec1;
    position: absolute;
    padding: 10px;
    z-index: 1
}

@font-face {
    font-family: "BBVAWebLight-Regular";
    src: url("../fonts/bbvaweb-light.woff") format("woff")
}

@font-face {
    font-family: "BBVAWebSemibold-Regular";
    src: url("../fonts/bbvaweb-medium.woff") format("woff")
}

@font-face {
    font-family: 'BBVAWebBook-Regular';
    src: url("../fonts/bbvaweb-book.eot");
    src: url("../fonts/bbvaweb-book.eot?#iefix") format("eot"),url("../fonts/bbvaweb-book.woff") format("woff"),url("../fonts/bbvaweb-book.ttf") format("truetype"),url("../fonts/bbvaweb-book.svg#bbvaweb-book") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'APIMarket-icons';
    src: url("../fonts/iconosmyapps.eot");
    src: url("../fonts/iconosmyapps.eot?#iefix") format("eot"),url("../fonts/iconosmyapps.woff") format("woff"),url("../fonts/iconosmyapps.ttf") format("truetype"),url("../fonts/iconosmyapps.svg#iconosmyapps") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "BBVAWeb-Semibold";
    src: url("../fonts/bbvaweb-semibold.woff") format("ttf")
}

@font-face {
    font-family: 'apiMarketIconFont';
    src: url("../fonts/api-market-icon-font.eot");
    src: url("../fonts/api-market-icon-font.eot?#iefix") format("embedded-opentype"),url("../fonts/api-market-icon-font.woff") format("woff"),url("../fonts/api-market-icon-font.ttf") format("truetype"),url("../fonts/api-market-icon-font.svg#api-market-icon-font") format("svg");
    font-weight: normal;
    font-style: normal
}

.api-documentation ::-webkit-scrollbar {
    width: 0
}

.api-documentation ::-webkit-scrollbar-button {
    width: 0;
    height: 5px
}

.api-documentation ::-webkit-scrollbar-track {
    background: #f0f1f7;
    border: thin solid #009ee5;
    box-shadow: 0 0 3px #f0f1f7 inset;
    border-radius: 4px
}

.api-documentation ::-webkit-scrollbar-thumb {
    border: thin solid #009ee5;
    border-radius: 4px
}


#nav-anchor {
    line-height: 0
}

.api-documentation {
    min-width: 1200px
}

.api-documentation html,.api-documentation body,.api-documentation div,.api-documentation span,.api-documentation applet,.api-documentation object,.api-documentation iframe,.api-documentation h1,.api-documentation h2,.api-documentation h3,.api-documentation h4,.api-documentation h5,.api-documentation h6,.api-documentation p,.api-documentation blockquote,.api-documentation pre,.api-documentation a,.api-documentation abbr,.api-documentation acronym,.api-documentation address,.api-documentation big,.api-documentation cite,.api-documentation code,.api-documentation del,.api-documentation dfn,.api-documentation em,.api-documentation img,.api-documentation ins,.api-documentation kbd,.api-documentation q,.api-documentation s,.api-documentation samp,.api-documentation small,.api-documentation strike,.api-documentation strong,.api-documentation sub,.api-documentation sup,.api-documentation tt,.api-documentation var,.api-documentation b,.api-documentation u,.api-documentation i,.api-documentation center,.api-documentation dl,.api-documentation dt,.api-documentation dd,.api-documentation ol,.api-documentation ul,.api-documentation li,.api-documentation fieldset,.api-documentation form,.api-documentation label,.api-documentation legend,.api-documentation table,.api-documentation caption,.api-documentation tbody,.api-documentation tfoot,.api-documentation thead,.api-documentation tr,.api-documentation th,.api-documentation td,.api-documentation article,.api-documentation aside,.api-documentation canvas,.api-documentation details,.api-documentation embed,.api-documentation figure,.api-documentation figcaption,.api-documentation footer,.api-documentation header,.api-documentation hgroup,.api-documentation menu,.api-documentation nav,.api-documentation output,.api-documentation ruby,.api-documentation section,.api-documentation summary,.api-documentation time,.api-documentation mark,.api-documentation audio,.api-documentation video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

.api-documentation article,.api-documentation aside,.api-documentation details,.api-documentation figcaption,.api-documentation figure,.api-documentation footer,.api-documentation header,.api-documentation menu,.api-documentation nav,.api-documentation section {
    display: block
}

.api-documentation body {
    line-height: 1
}

.api-documentation ol,.api-documentation ul {
    list-style: none
}

.api-documentation ol.api__documentation__ordered-list {
    list-style: decimal
}

.api-documentation ol.api__documentation__ordered-list ol.api__documentation__ordered-list {
    margin-left: 30px;
    list-style: decimal;
    margin-bottom: 0
}

.api-documentation blockquote,.api-documentation q {
    quotes: none
}

.api-documentation blockquote:before,.api-documentation blockquote:after,.api-documentation q:before,.api-documentation q:after {
    content: none
}

.api-documentation table {
    border-collapse: collapse;
    border-spacing: 0
}

.api-documentation a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
    cursor: auto
}

.api-documentation h1 {
    color: #009ee5;
    margin: 40px 20px 0 20px
}

.api-documentation .my-app__detail__appid--container .cancel {
    display: none
}

.api-documentation .my-app__detail__appid--container .submit {
    position: relative;
    display: inline-block;
    margin: 0;
    right: 0
}

.api-documentation .my-app__detail__appid--container .btn.btn-primary {
    border-radius: 4px
}

.api-documentation #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 200px);
    background-color: white;
    margin-top: 242px;
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    z-index: 4
}

.api-documentation #sidebar.sidebar-api_security .nav__title {
    background-color: #364250;
    border-right: 0;
    border-bottom: 2px solid #566270;
    visibility: hidden;
    height: 0;
    padding: 0
}

.api-documentation #sidebar a {
    width: 100%
}

.api-documentation #api-doc {
    margin-left: 250px;
    margin-bottom: 0
}

.api-documentation .nav-wrapper-scroll {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white
}

.api-documentation .nav {
    border-right: 2px solid #f0f1f7;
    margin-bottom: 0
}

.api-documentation .nav.nav-extend {
    height: 100%
}

.api-documentation .nav>.nav__list {
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px
}

.api-documentation .nav__list {
    color: #009ee5;
    list-style: none;
    -webkit-padding-start: 0;
    padding-left: 20px
}

.api-documentation .nav__title {
    color: white;
    font-size: 22px;
    background-color: #9bc641;
    padding: 20px;
    margin: 0;
    height: 59px;
    box-sizing: border-box;
    border-right: 2px solid white;
    text-align: center;
    position: relative
}

.api-documentation .nav__list .nav__list__item {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.3em;
    position: relative
}

.api-documentation .nav__list.nav__list--sub-list .nav__list__item {
    line-height: 1.7em
}

.api-documentation .nav__list__icon {
    position: absolute;
    text-align: right;
    right: 0;
    z-index: 1
}

.api-documentation .nav__list__link__tooltip {
    opacity: 0;
    font-size: 16px;
    font-weight: normal;
    left: 100px;
    padding: 10px;
    position: fixed;
    max-width: calc(100% - 200px);
    z-index: 2;
    -moz-transition: opacity .1s linear 2s;
    -webkit-transition: opacity .1s linear 2s;
    transition: opacity .1s linear 0s
}

.api-documentation .nav__list__link__tooltip:hover {
    opacity: 1;
    transition-delay: 2s
}

.api-documentation .nav__list .nav__list__link {
    line-height: 36px!important;
    display: inline-block;
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    font-weight: normal;
    vertical-align: top
}

.api-documentation .nav__list .nav__list__link.nav__list__link-method {
    max-width: calc(100% - 40px)
}

.api-documentation .nav__list .nav__list__link.nav__list__link-method.nav__list__link--active {
    max-width: calc(100% - 40px)
}

.api-documentation .nav__list .nav__list__link:hover {
    color: #009ee5;
    cursor: pointer;
    font-weight: normal
}

.api-documentation .nav__list .nav__list__link:hover+.nav__list__link__tooltip {
    opacity: 1;
    transition-delay: 2s
}

.api-documentation .nav__list .nav__list__link.nav__list__link--active {
    color: #566270;
    max-width: calc(100% - 10px)
}

.api-documentation .nav__list .nav__list__link.nav__list__link--active:after {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    border-left: 2px solid #f0f1f7;
    border-bottom: 2px solid #f0f1f7;
    margin: -11px 1px;
    top: 20px;
    right: -20px;
    background-color: white;
    box-sizing: border-box
}

.api-documentation .nav__list .nav__list__item .nav__list__item {
    font-size: 18px;
    text-transform: initial;
    font-weight: normal
}

.api-documentation .nav__list .nav__list__item .nav__list__item .nav__list__item {
    font-size: 14px;
    text-transform: initial;
    font-weight: normal
}

.api-documentation .nav__list--sub-list .nav__list__item {
    font-family: "BBVAWebLight-Regular",Helvetica,Arial,sans-serif
}

.api-documentation .api-doc__section {
    position: relative
}

.api-documentation .api-doc__section.api-doc__section--example-expanded:after,.api-documentation .api-doc__section.api-doc__section--example-expanded:before {
    left: 0
}

.api-documentation .api-doc__section>article {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed
}

.api-documentation .api-doc__section>article:first-child {
    margin-top: 58px
}

.api-documentation .api-doc__section>article:first-child .api__documentation:before {
    content: '';
    width: 50%;
    height: 100px;
    background: #364250;
    position: absolute;
    top: -100px;
    right: 0
}

.api-documentation .api-doc__section>article:first-child .api__example--expanded {
    height: calc(100% - 58px);
    top: 0
}

.api-documentation .api__documentation {
    display: table-cell;
    width: 50%;
    padding: 40px 30px 10px;
    border-bottom: 1px solid #f0f1f7
}

.api-documentation .api__documentation>* {
    margin-bottom: 30px
}

.api-documentation .api__documentation .api__documentation__text,.api-documentation .api__documentation .api__documentation--table-elements,.api-documentation .api__documentation .api__documentation__unordered-list,.api-documentation .api__documentation .api__documentation__ordered-list {
    margin-bottom: 30px
}

.api-documentation .api__documentation__title {
    font-size: 30px;
    line-height: 30px;
    font-family: "BBVAWebLight-Regular",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #363636;
    margin: 0 0 30px 0
}

.api-documentation h1.api__documentation__title__inner.api__documentation__title {
    font-size: 24px;
    line-height: 24px
}

.api-documentation h2.api__documentation__title__inner.api__documentation__title {
    font-size: 22px;
    line-height: 22px
}

.api-documentation h3.api__documentation__title__inner.api__documentation__title {
    font-size: 20px;
    line-height: 20px
}

.api-documentation h4.api__documentation__title__inner.api__documentation__title {
    font-size: 18px;
    line-height: 18px
}

.api-documentation .api__documentation__subtitle {
    margin-bottom: 10px
}

.api-documentation .api__documentation__subtitle .api__documentation__section-name {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-family: "BBVAWebLight-Bold",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #363636
}

.api-documentation .api__documentation__subtitle .api__documentation__icon {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding: 5px 10px;
    display: inline-block
}

.api-documentation .api__documentation__subtitle>.api__documentation__title {
    display: inline-block;
    margin: 0;
    line-height: 30px;
    vertical-align: middle;
    max-width: calc(100% - 62px)
}

.api-documentation .api__documentation__item {
    font-weight: 300;
    font-family: BBVAWebBook-Regular,Helvetica,Arial,sans-serif
}

.api-documentation .api__documentation__item span {
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    line-height: 2em;
    font-size: 14px;
    font-weight: 600;
    text-shadow: none;
    color: #566270;
    text-rendering: optimizeLegibility
}

.api-documentation .api__documentation__text {
    text-align: justify;
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
    text-shadow: none;
    color: #566270;
    text-rendering: optimizeLegibility
}

.api-documentation a.api__documentation-link:-webkit-any-link {
    font-size: 14px;
    color: #009ee5;
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif
}

.api-documentation ul.api__documentation__unordered-list {
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    color: #566270;
    font-size: 14px;
    padding-left: 15px;
    list-style-type: disc;
    line-height: 24px;
    margin-bottom: 24px
}

.api-documentation ul.api__documentation__unordered-list ul {
    padding-left: 15px;
    list-style-type: disc
}

.api-documentation ol.api__documentation__ordered-list {
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    color: #566270;
    font-size: 14px;
    padding-left: 15px;
    list-style-type: decimal;
    line-height: 24px;
    margin-bottom: 24px
}

.api-documentation ol.api__documentation__ordered-list ol {
    padding-left: 15px;
    list-style-type: decimal
}

.api-documentation .api__example {
    font-family: "BBVAWebLight-Regular",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    font-size: 15px;
    padding: 20px 30px 40px 40px;
    display: table-cell;
    background-color: #364250;
    position: relative;
    border-bottom: 2px solid #566270;
    width: 50%
}

.api-documentation .api__example:before {
    border-left: 8px solid #566270;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.api-documentation .api__example.api__example--expanded {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    box-sizing: border-box;
    border-bottom: 2px solid #566270;
    padding: 30px;
    -webkit-animation: fade-from-right .25s;
    animation: fade-from-right .25s
}

.api-documentation .api__example.api__example--expanded:first-child {
    height: calc(100% - 58px);
    top: 58px
}

.api-documentation .api__example.api__example--compress {
    -webkit-animation: fade-from-right .25s;
    animation: fade-in-from-right .25s
}

.api-documentation .api__example--compress {
    -webkit-animation: fade-from-left .25s;
    animation: fade-from-left .25s
}

.api-documentation .api-doc__section>article:first-child .api__example:after {
    content: '';
    height: 90px;
    display: block;
    position: absolute;
    top: -90px;
    width: 100%;
    left: 0;
    border-left: 8px solid #566270
}

.api-documentation .api__example.api__example--expanded:first-child {
    height: calc(100% - 58px)
}

.api-documentation .api__example--place-holder {
    vertical-align: middle
}

.api-documentation .place-holder__wrapper {
    vertical-align: middle
}

.api-documentation .api__example .place-holder {
    color: #72767d;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.75);
    text-align: center;
    margin: 0
}

.api-documentation .example__place-holder-wrapper {
    height: 66px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.api-documentation .api__example .place-holder--title {
    font-size: 22px;
    text-transform: capitalize
}

.api-documentation .api__example .place-holder--text {
    font-size: 16px
}

.api-documentation .api__documentation__list {
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    font-size: 15px;
    list-style: inherit;
    margin: 1em;
    color: #566270
}

.api-documentation .language-controls__item {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 56px;
    position: relative
}

.api-documentation .language-controls__help {
    width: 55%;
    color: white;
    font-size: 14px;
    display: inline-block;
    cursor: default;
    text-align: left;
    vertical-align: middle;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 20px
}

.api-documentation .language-controls--selected.language-controls__item.language-controls--displayed .language-control__items {
    display: block!important
}

.api-documentation .language-controls__list {
    display: inline-block;
    width: 43%;
    position: absolute;
    right: 0;
    top: -1px
}

.api-documentation .language-controls__list:after {
    content: '';
    background-color: #566270;
    display: block;
    line-height: 58px;
    margin-top: -66px;
    height: 66px;
    width: 105%
}

.api-documentation .language-control__items {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 3px
}

.api-documentation .language-controls--selected {
    background: #566270!important;
    border: none!important;
    text-indent: 20px
}

.api-documentation .language-controls--selected:after {
    content: '';
    border-top: 12px solid #364250;
    border-right: 12px solid #566270;
    border-left: 12px solid #566270;
    position: absolute;
    top: 50%;
    margin: -6px;
    right: 10%
}

.api-documentation .language-controls__item {
    background: #566270;
    border-bottom: 2px solid #364250;
    line-height: 58px
}

.api-documentation .language-controls__item:hover {
    background: #009ee5
}

.api-documentation .language-controls__item:last-child {
    border-bottom: 0
}

.api-documentation .language-controls__options {
    line-height: 53px;
    display: inline-block;
    width: calc(49% - -4px);
    position: relative;
    font-size: 14px;
    top: -3px
}

.api-documentation select {
    width: 46%;
    line-height: 58px;
    height: 57px;
    color: white;
    background: #566270;
    border: 0;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
    position: absolute;
    right: 0;
    margin: 0;
    display: block;
    top: 0
}

.api-documentation .size-controls {
    position: fixed;
    display: block;
    padding-left: 250px;
    width: 100%;
    height: 59px;
    box-sizing: border-box;
    background-color: #364250;
    color: white!important;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    top: 182px;
    z-index: 3;
    min-width: 1200px;
    border-bottom: 2px solid #566270
}

.api-documentation .size-controls__options {
    list-style: none;
    display: inline-block;
    width: calc((1035px / 2) - -250px);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 57px;
    border-right: 2px solid white
}

.api-documentation .size-controls__options.size-controls__api-security {
    border-right: 2px solid #566270
}

.api-documentation .size-controls__option {
    display: inline-block;
    padding: 0 28px;
    box-sizing: border-box;
    margin-left: -250px;
    position: absolute;
    width: 250px
}

.api-documentation .size-controls__option:nth-child(2) {
    padding-left: 10px
}

.api-documentation .size-controls__option .size-controls__option--overview {
    color: white
}

.api-documentation .size-controls__option .size-controls__option--resize {
    position: relative;
    padding-left: 40px
}

.api-documentation .size-controls__option .size-controls__option--resize:after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    left: 0;
    top: 50%;
    margin: -14px 0
}

.api-documentation .size-controls__option .size-controls__option--resize:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: -5px 0;
    top: 50%;
    left: 10px
}

.api-documentation .size-controls__option .size-controls__option--resize:hover {
    cursor: pointer;
    opacity: .6
}

.api-documentation .size-controls__option .size-controls__option--console {
    position: relative;
    padding-right: 40px
}

.api-documentation .size-controls__option .size-controls__option--console:after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 50%;
    border: 1px solid white;
    right: 0;
    top: 50%;
    margin: -14px 0
}

.api-documentation .size-controls__option .size-controls__option--console:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    border-top: 1px solid white;
    border-right: 1px solid white;
    ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: -5px 0;
    top: 50%;
    right: 10px
}

.api-documentation .size-controls__option:nth-child(2) {
    text-align: right
}

.api-documentation .size-controls__option:first-child {
    text-align: left;
    position: relative
}

.api-documentation .size-controls__option:last-child {
    text-align: right
}

.api-documentation .api__documentation__http {
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 600;
    background-color: #9bc641;
    color: white;
    width: 35px;
    text-align: center;
    padding: .6em .1em;
    font-size: 10px
}

.api-documentation .api__documentation__http--get {
    background-color: #9bc641
}

.api-documentation .api__documentation__http--post {
    background-color: #89d1f3
}

.api-documentation .api__documentation__http--put {
    background-color: #fdbd2c
}

.api-documentation .api__documentation__http--delete {
    background-color: #ab1d5c
}

.api-documentation .api__documentation__http--patch {
    background-color: #006ec1
}

.api-documentation .api__documentation__link {
    font-weight: 600;
    color: #52bcec
}

.api-documentation .api__documentation__parameters {
    display: table;
    width: calc(100% - -20px);
    margin: 0 -20px;
    border-top: 1px solid #72767d;
    padding: 5px
}

.api-documentation .api__documentation__parameters .api__documentation__parameters__row {
    display: table-row;
    padding: 0;
    padding-bottom: 10px;
    margin: 0
}

.api-documentation .api__documentation__parameters .api__documentation__parameters__row.api__documentation__parameters__row-top {
    margin-bottom: 12px
}

.api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    padding: 5px
}

.api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col:first-child {
    padding-right: 10px
}

.api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col:last-child {
    padding-left: 10px
}

.api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col .api__documentation__parameters__title,.api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col .api__documentation__parameters__text {
    font-weight: normal;
    font-size: 14px;
    display: block;
    color: #363636;
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif
}

.api-documentation .api__documentation__parameters .api__documentation__parameters__row .api__documentation__parameters__col .api__documentation__parameters__text {
    font-size: 12px
}

.api-documentation article .api__documentation__parameters:last-child {
    border-bottom: 1px solid #72767d
}

.api-documentation .col--first,.api-documentation .col--second {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    display: table-cell;
    position: relative
}

.api-documentation .api__documentation__block {
    display: block
}

.api-documentation .col--second .parameters__description,.api-documentation .col--second .paramters__example {
    font-size: 12px;
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif
}

.api-documentation .parameters__parameter,.api-documentation .parameters__default {
    display: block;
    color: #363636;
    font-size: 14px;
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif
}

.api-documentation .paramters__example,.api-documentation .parameters__default {
    padding: 12px 0 0;
    bottom: 0
}

.api-documentation .paramters__example {
    display: block
}

.api-documentation .parameters__default {
    position: absolute
}

.api-documentation .parameters__type {
    display: inline
}

.api-documentation .api__example .example__info {
    display: table;
    width: 100%;
    margin-bottom: 15px
}

.api-documentation .api__example .example__info .example__json {
    background: transparent;
    padding: 0;
    margin: 0
}

.api-documentation .api__example .example__title {
    color: white;
    font-size: 28px;
    text-shadow: none;
    line-height: 1em;
    margin: 20px 0 30px 0
}

.api-documentation .api__example .example__subtitle--response,.api-documentation .api__example .example__subtitle--call-code {
    color: white;
    font-size: 24px;
    text-shadow: none;
    line-height: 2em
}

.api-documentation .api__example .example__subtitle--response {
    margin: 20px 0 0 0
}

.api-documentation .api__example .example__subtitle--call-code {
    margin-bottom: 20px
}

.api-documentation .api__example .example__call-code {
    width: 100%
}

.api-documentation .api__example .example__status-codes-wrapper {
    margin: 10px 0 30px 0;
    line-height: 2.28em
}

.api-documentation .api__example .example__subtitle--status-code,.api-documentation .api__example .example__additional-info__title {
    color: white;
    font-size: 18px;
    text-shadow: none;
    line-height: 2em;
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    margin: 20px 0 10px 0
}

.api-documentation .api__example .example__info .example__subtitle--status-code {
    margin-bottom: 20px
}

.api-documentation .api__example .example__status-code {
    color: #364250;
    background-color: #566270;
    padding: 0 20px;
    font-weight: 600;
    margin-right: 10px;
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    display: inline-block;
    line-height: 1.7em;
    font-size: 1em;
    vertical-align: middle
}

.api-documentation .api__example .example__status-code:hover {
    cursor: pointer
}

.api-documentation .api__example .example__status-code.example__status-code--selected {
    background-color: white
}

.api-documentation .api__example .example__info__block {
    display: block;
    margin-left: 0;
    vertical-align: top;
    color: white
}

.api-documentation .api__example table.example__info__block {
    width: 100%;
    display: table
}

.api-documentation .api__example .example__info__text {
    display: inline;
    color: white;
    text-shadow: none;
    opacity: .9;
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    vertical-align: top
}

.api-documentation .api__example .example__info__text>* {
    margin-bottom: 30px
}

.api-documentation .api__example .example__info__text>.api__documentation__text {
    margin-bottom: 0
}

.api-documentation .api__example .example__info__text ul.api__documentation__unordered-list,.api-documentation .api__example .example__info__text ol.api__documentation__ordered-list {
    color: white
}

.api-documentation .api__example .example__info__text ul.api__documentation__unordered-list ul,.api-documentation .api__example .example__info__text ol.api__documentation__ordered-list ul {
    color: white
}

.api-documentation .api__example .example__info__text .api__documentation__title.api__documentation__title__inner,.api-documentation .api__example .example__info__text .api__documentation__text {
    color: white
}

.api-documentation .api__example .example__info__text .api__documentation--table-elements td,.api-documentation .api__example .example__info__text .api__documentation--table-elements th {
    color: white
}

.api-documentation .api__example .example__info__text .api__documentation--table-elements tbody tr {
    border-bottom: 1px solid white;
    line-height: 24px
}

.api-documentation .api__example .example__info__text .api__documentation--table-elements tbody tr:last-child {
    border: 0
}

.api-documentation .api__example th.example__info__text {
    width: 50%;
    display: table-cell;
    border-bottom: white 1px solid;
    opacity: .9;
    text-align: left;
    padding-left: 15px
}

.api-documentation .api__example td.example__info__text {
    width: 50%;
    display: table-cell
}

.api-documentation .api__example .example__info__col {
    display: inline-block;
    width: 48%;
    padding: 0 0 30px 0;
    vertical-align: top
}

.api-documentation .api__example .example__info .example__info__col.example__info__col-with_margin {
    padding-top: 30px
}

.api-documentation .api__documentation--table-information {
    width: 100%
}

.api-documentation .api__documentation--table-information th,.api-documentation .api__documentation--table-information td {
    width: 70%;
    font-family: "BBVAWebLight-Regular",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #363636;
    padding: 10px
}

.api-documentation .api__documentation--table-information th {
    font-weight: bold
}

.api-documentation .api__documentation--table-information tr {
    border-bottom: 2px solid #a3a9b4
}

.api-documentation .api__documentation--table-information tr:last-child {
    border-bottom: 0
}

.api-documentation .api__documentation--table-information tr:last-child td {
    padding-bottom: 0
}

.api-documentation .api__documentation--table-information tr>*:first-child {
    width: 30%
}

.api-documentation .api__documentation--table-elements {
    display: block;
    max-width: calc(100% - -40px);
    margin-left: -15px;
    margin-right: -15px
}

.api-documentation .api__documentation--table-elements th,.api-documentation .api__documentation--table-elements td {
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #363636;
    padding: 10px;
    text-align: left;
    min-width: 5em
}

.api-documentation .api__documentation--table-elements td {
    font-size: 12px;
    line-height: 14px
}

.api-documentation .api__documentation--table-elements td:first-child {
    font-size: 14px
}

.api-documentation .api__documentation--table-elements th {
    font-family: "BBVAWebBook-Regular",Helvetica,Arial,sans-serif;
    font-weight: bold;
    padding-top: 0
}

.api-documentation .api__documentation--table-elements.api__documentation--table-elements--compressed tr td {
    padding-top: 0;
    padding-bottom: 0
}

.api-documentation .api__documentation--table-elements tbody tr {
    border: 1px solid #72767d;
    border-left: 0;
    border-right: 0;
    line-height: 24px
}

.api-documentation .example__json,.api-documentation .example__json-container,.api-documentation .example__code-container {
    color: white;
    padding: 5px;
    white-space: pre;
    background-color: #363636;
    width: calc(100% - -30px);
    margin-left: -20px
}

.api-documentation .example__json.example__code-container-with-code,.api-documentation .example__json-container.example__code-container-with-code,.api-documentation .example__code-container.example__code-container-with-code {
    margin-bottom: 30px;
    background-color: transparent;
    padding-left: 20px;
    width: 100%
}

.api-documentation .example__json.example__code-container-with-code pre.prettyprint,.api-documentation .example__json-container.example__code-container-with-code pre.prettyprint,.api-documentation .example__code-container.example__code-container-with-code pre.prettyprint {
    padding: 15px;
    margin: 5px 0
}

.api-documentation .example__json pre.prettyprint,.api-documentation .example__json pre.prettyprint_json,.api-documentation .example__json-container pre.prettyprint,.api-documentation .example__json-container pre.prettyprint_json,.api-documentation .example__code-container pre.prettyprint,.api-documentation .example__code-container pre.prettyprint_json {
    background-color: #363636;
    border: 0;
    color: white
}

.api-documentation .example__json pre.prettyprint_json,.api-documentation .example__json-container pre.prettyprint_json,.api-documentation .example__code-container pre.prettyprint_json {
    padding: 15px;
    width: calc(100% - -10px);
    margin-left: -20px
}

.api-documentation .example__json pre.prettyprint,.api-documentation .example__json-container pre.prettyprint,.api-documentation .example__code-container pre.prettyprint {
    padding: 0 15px;
    margin: 10px 0
}

.api-documentation .example__code-container pre.prettyprint .pln,.api-documentation .example__code-container pre.prettyprint .pun,.api-documentation .example__code-container pre.prettyprint .com,.api-documentation .example__code-container pre.prettyprint .typ,.api-documentation .example__code-container pre.prettyprint .kwd {
    color: white
}

.api-documentation .example__code-container pre.prettyprint .str {
    color: #9bc641
}

.api-documentation .string {
    color: #9bc641
}

.api-documentation .number {
    color: #9bc641
}

.api-documentation .boolean {
    color: #9bc641
}

.api-documentation .null {
    color: #9bc641
}

.api-documentation .key {
    color: white
}

.api-documentation .api__documentation__text--invisible {
    margin: 0;
    line-height: 0;
    visibility: hidden
}

.api-documentation .resizer {
    position: absolute;
    height: 50px;
    width: 8px;
    top: 150%;
    margin: -25px 2px;
    background-color: #a3a9b4;
    left: 100%
}

.api-documentation .resizer:hover {
    cursor: pointer
}

.api-documentation .resizer__arrow {
    width: 6px;
    height: 8px;
    border-right: 5px solid #566270;
    position: absolute;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    top: 50%;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    margin: -50% 0
}

.api-documentation .resizer__arrow.resizer__arrow--displayed-content {
    border-left: 5px solid #566270;
    border-right: 0;
    left: 2px
}

.api-documentation .size-controls__options {
    list-style: none;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 57px;
    border-right: 2px solid white;
    position: relative;
    z-index: 3
}

.api-documentation .resizer.resizer--displayed-content {
    left: 0;
    margin: -25px 0
}